body,
html {
    height: 100%;
}

.backend-section {
    height: 100%;
    width: 100%;
    display: table;
}

.backend-article {
    background-color: #fff; /* Alterado para branco */
    width: 20%;
    height: 100%;
    text-align: left;
    display: table-cell;
    font-size: 18px;
    box-shadow: 8px 8px 8px rgb(255, 255, 255);
    position: relative;
}

.backend-article div {
    width: 105%;
    color: black; /* Alterado para preto */
    border-bottom: 1px solid black;
}

.backend-article-list {
    list-style: none;
    padding: 0;
}

.backend-article-list li {
    height: 50px;
    margin: 2px 0;
}

.backend-article-list li a {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    padding-left: 20px;
    background-color: #ff0000; /* Alterado para vermelho */
    color: white;
    text-decoration: none;
}

.backend-article-list li a span {
    margin-right: 5px;
}

.backend-article-list li a:hover,
.backend-article-list li a:active,
.backend-article-list li a:focus {
    cursor: pointer;
    background-color: white;
    color: #181818;
}

.active-link {
    background-color: white !important;
    color: #181818 !important;
}

.backend-article div:hover {
    background-color: #403B3A;
}

.backend-aside {
    width: 80%;
    display: table-cell;
    padding: 10px 30px;
}

.div-top {
    border-bottom: 1px solid black;
    text-align: center;
}

.clearfix {
    overflow: auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/** CSS dos produtos **/

#productName {
    border: 1px solid black;
}

.formBackend {
    font-size: 16px;
}

.formBackend label {
    margin: 5px 10px 5px 10px;
    width: 13%;
}

.formBackend input[type=text], input[type=numeric], input[type=date] {
    width: 600px;
}

.formBackend img, input[type=file] {
    margin: 10px 10px 5px 10px;
}

.formBackend input[type=radio] {
    margin: 10px 0px 5px 10px;
}

.formBackend select {
    width: 100px;
}

.productTextArea {
    margin-top: 10px;
    resize: none;
    width: 600px;
    height: 100px;
}

.labelSelecionarFicheiros {
    width: 200px !important;
}

.imagensProdutos {
    max-height: 200px; 
    max-width: 200px;
}

.div-images {
    display: flex;
}

.div-images-image {
    display: inline-block;
    width: 250px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

.div-images-delete-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #181818;
    opacity: 0.6;
    z-index: -1;
}

.div-images-delete-image {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.div-images-image:hover > .div-images-delete-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** CSS das datas **/
#inicialDate, #finalDate{
    width: 200px;
}
 
.infoSales{
    width: 400px;
}

.infoDate {
    width: 100%;
    margin-top: 15px;
}
/* --------------------------- */

.date-filter {
    display: inline-block;
    margin-bottom: 20px;
}

.divConsultation {
    border: 2px solid #181818;
    padding: 20px 15px;
}

.divConsultation p {
    font-weight: bold;
    font-size: 15px;
}

.btn-style {
    margin: 0;
}

.infoOrder {
    margin-top: 20px;
    width: 100%;
    background-color: #181818;
    color: #ccac00;
    padding: 10px 20px;
}

.productsCriar span,
.span-margin span {
    margin-right: 5px;
}

.btn-margin {
    margin: 0 4px;
}
